.clients {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: 1fr 4rem;

  &__table {
    overflow: auto;
    height: 100%;
    width: 100%;

    &__search-container {
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1rem;

      &__filter-input {
        width: 20rem;
      }

      &__filters-button {
        cursor: pointer;
        user-select: none;
      }

      &__filters {
        padding: 1rem;
        padding-top: 0;
        display: flex;
      }
    }

    &__content {
      min-width: 100%;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;

      &__header {
        text-align: center;
      }

      &__action-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 3px;

        &--edit {
          min-width: 10rem;
        }

        &--delete {
          min-width: 8rem;
        }
      }
    }
  }

  &__paginator {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__data-loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-column-updatedAt,
.mat-column-createdAt {
  text-align: center;
}
