<ng-container
  *ngIf="{
    data: data$ | async,
    isLoading: isLoading$ | async,
    error: error$ | async,
    filterFields: filterFields$ | async,
    paginationData: paginationData$ | async,
    parsedPaginationData: parsedPaginationData$ | async,
    userPermissions: userPermissions$ | async,
  } as viewData">
  <div class="users">
    <div class="users__table">
      <div class="users__table__search-container">
        <!-- Search field -->
        <mat-form-field
          class="users__table__search-container__filter-input"
          [subscriptSizing]="'dynamic'">
          <mat-label>Szukaj</mat-label>
          <input matInput placeholder="Jan Kowalski" [(ngModel)]="searchValue" />

          @if (searchValue) {
            <button matSuffix mat-icon-button (click)="onClose()">
              <mat-icon>close</mat-icon>
            </button>
          }
        </mat-form-field>

        <!-- Search button -->
        <button mat-flat-button (click)="submitSearch()">Szukaj</button>

        <!-- Filters button-->
        <button
          mat-fab
          extended
          class="users__table__search-container__filters-button"
          (click)="onToggleFiltersOpen()">
          <mat-icon>
            @if (filtersOpen) {
              close
            } @else {
              filter_list
            }
          </mat-icon>
          Filtry
        </button>

        <!-- Create button-->
        <button
          mat-fab
          extended
          class="users__table__search-container__create-button"
          (click)="onCreate()"
          [disabled]="!viewData?.userPermissions?.canCreate">
          <mat-icon> add </mat-icon>
          Stwórz użytkownika
        </button>
      </div>

      <!-- Filters-->
      @if (filtersOpen) {
        <div class="users__table__search-container__filters">
          @for (filter of viewData?.filterFields; track $index) {
            <mat-form-field [subscriptSizing]="'dynamic'">
              <mat-label>{{ filter?.label }}</mat-label>

              @if (filter && filter.key && filter.type) {
                <mat-select
                  [value]="selectedFilters()[filter.key].value | filterValue: filter.type"
                  (selectionChange)="changeFilters(filter.key, $event.value)">
                  @for (option of filter?.options; track $index) {
                    <mat-option [value]="option.value">
                      {{ option.label }}
                    </mat-option>
                  }
                </mat-select>
              }
            </mat-form-field>

            @if (!$last) {
              <mat-divider
                vertical="true"
                [ngStyle]="{ 'margin-left': '10px', 'margin-right': '10px' }"></mat-divider>
            }
          }
        </div>
      }

      <!-- Table -->
      <ng-container *ngIf="viewData?.isLoading; else dataTable">
        <div class="users__data-loader">
          <mat-spinner></mat-spinner>
        </div>
      </ng-container>
      <ng-template #dataTable>
        @if (!viewData?.data?.users?.length) {
          <div class="users__no-data">
            <p>Brak danych</p>
          </div>
        } @else {
          <table
            mat-table
            [dataSource]="viewData?.data?.users || []"
            matSort
            (matSortChange)="submitSort($event)"
            matSortActive="{{ currentSort.active }}"
            [matSortDirection]="currentSort.direction"
            class="users__table__content">
            @for (column of displayedColumns; track $index) {
              <ng-container [matColumnDef]="column.columnDef">
                @if (viewData?.data?.sortFields?.includes(column.columnDef)) {
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    mat-sort-header
                    class="users__table__content__header">
                    {{ column.columnName }}
                  </th>
                } @else {
                  <th mat-header-cell *matHeaderCellDef class="users__table__content__header">
                    {{ column.columnName }}
                  </th>
                }
                <td mat-cell *matCellDef="let element">
                  <!-- Conditional rendering based on columnType -->
                  <ng-container [ngSwitch]="column.columnType">
                    <!-- Render checkbox for boolean values -->
                    <ng-container *ngSwitchCase="'boolean'">
                      <div class="users__table__content__action-buttons">
                        <mat-checkbox
                          [checked]="element[column.columnDef]"
                          [disabled]="true"></mat-checkbox>
                      </div>
                    </ng-container>
                    <!-- Render formatted date for date values -->
                    <ng-container *ngSwitchCase="'date'">
                      {{ element[column.columnDef] | date: date_format }}
                    </ng-container>
                    <!-- Action buttons -->
                    <ng-container *ngSwitchCase="'action'">
                      <div class="users__table__content__action-buttons-wrapper">
                        <button
                          mat-raised-button
                          color="primary"
                          class="users__table__content__action-buttons-wrapper--edit-data"
                          (click)="onEditUserCredentials(element)"
                          [disabled]="!viewData?.userPermissions?.canUpdate">
                          <mat-icon>manage_accounts</mat-icon> Edytuj dane logowania
                        </button>
                        <button
                          mat-raised-button
                          color="primary"
                          class="users__table__content__action-buttons-wrapper--edit-info"
                          (click)="onEditUserInfo(element)"
                          [disabled]="!viewData?.userPermissions?.canUpdate">
                          <mat-icon>edit_square</mat-icon> Edytuj informacje i dostępy
                        </button>
                        <button
                          mat-raised-button
                          color="warn"
                          class="users__table__content__action-buttons-wrapper--delete"
                          (click)="onDelete(element.id)"
                          [disabled]="!viewData?.userPermissions?.canDelete">
                          <mat-icon>delete</mat-icon> Usuń
                        </button>
                      </div>
                    </ng-container>
                    <!-- Render plain text for string and other values -->
                    <ng-container *ngSwitchDefault>
                      <div class="ellipsis">
                        <div class="ellipsis__text">
                          {{ element[column.columnDef] }}
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </td>
              </ng-container>
            }

            <tr mat-header-row *matHeaderRowDef="displayedColumnsIds"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsIds"></tr>
          </table>
        }
      </ng-template>
    </div>
    <!-- Paginator -->
    <div class="users__paginator">
      <mat-paginator
        #paginator
        (page)="handlePageEvent($event)"
        [length]="viewData?.data?.totalCount || 0"
        [pageSize]="currentPageSize || 0"
        [showFirstLastButtons]="true"
        [hidePageSize]="false"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [pageIndex]="viewData?.data?.pageIndex || 0" />
    </div>
  </div>
</ng-container>
