<h2 mat-dialog-title>Stwórz użytkownika</h2>
<form [formGroup]="formGroup" class="create-form">
  <mat-dialog-content class="create-form__dialog-content">
    <!-- Username Field -->
    <mat-form-field appearance="outline">
      <mat-label for="username">Nazwa użytkownika</mat-label>
      <input
        matInput
        id="username"
        placeholder="Wprowadź nazwę użytkownika"
        formControlName="username"
        required />
      <mat-error *ngIf="formGroup.get('username')?.hasError('required')">
        Nazwa użytkownika jest wymagana
      </mat-error>
    </mat-form-field>

    <!-- Name and Surname Field -->
    <mat-form-field appearance="outline">
      <mat-label for="name">Imię i nazwisko</mat-label>
      <input
        matInput
        id="name"
        placeholder="Wprowadź imię i nazwisko"
        formControlName="name"
        required />
      <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
        Imię i nazwisko są wymagane
      </mat-error>
    </mat-form-field>

    <!-- Password Field -->
    <mat-form-field appearance="outline">
      <mat-label for="password">Hasło</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        minlength="8"
        maxlength="20"
        id="password"
        placeholder="Wprowadź hasło"
        formControlName="password"
        required />
      <button
        mat-icon-button
        matSuffix
        (click)="onToggleHidePassword()"
        [attr.aria-label]="'Toggle password visibility'"
        type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
        Hasło jest wymagane
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password Field -->
    <mat-form-field appearance="outline">
      <mat-label for="passwordConfirmation">Potwierdź hasło</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        minlength="8"
        maxlength="20"
        id="passwordConfirmation"
        placeholder="Potwierdź hasło"
        formControlName="passwordConfirmation"
        required />
      <button
        mat-icon-button
        matSuffix
        (click)="onToggleHidePassword()"
        [attr.aria-label]="'Toggle password visibility'"
        type="button">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="formGroup.get('passwordConfirmation')?.hasError('required')">
        Potwierdzenie hasła jest wymagane
      </mat-error>
    </mat-form-field>

    <!-- Required Error -->
    <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
      Hasło jest wymagane
    </mat-error>

    <!-- Mismatch Error -->
    <mat-error *ngIf="formGroup.hasError('passwordMismatch')"> Hasła nie są zgodne </mat-error>

    <!-- Password Complexity Error -->
    <mat-error *ngIf="formGroup.get('password')?.hasError('passwordComplexity')">
      Hasło musi zawierać co najmniej dwie z następujących cech: małą literę, dużą literę, znak
      specjalny lub cyfrę.
    </mat-error>

    <!-- Password Length Error -->
    <mat-error *ngIf="formGroup.get('password')?.hasError('minlength')">
      Hasło musi mieć co najmniej 8 znaków.
    </mat-error>
    <mat-error *ngIf="formGroup.get('password')?.hasError('maxlength')">
      Hasło nie może mieć więcej niż 20 znaków.
    </mat-error>

    <!-- Boolean Fields with Radio Buttons -->
    <div class="checkbox-field">
      <mat-label>Administrator</mat-label>
      <mat-radio-group formControlName="isAdmin" aria-labelledby="isAdmin">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="checkbox-field">
      <mat-label>Może tworzyć</mat-label>
      <mat-radio-group formControlName="canCreate" aria-labelledby="canCreate">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="checkbox-field">
      <mat-label>Może usuwać</mat-label>
      <mat-radio-group formControlName="canDelete" aria-labelledby="canDelete">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="checkbox-field">
      <mat-label>Może aktualizować</mat-label>
      <mat-radio-group formControlName="canUpdate" aria-labelledby="canUpdate">
        <mat-radio-button [value]="true">Tak</mat-radio-button>
        <mat-radio-button [value]="false">Nie</mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-dialog-content>
  <!-- Form Actions -->
  <mat-dialog-actions align="end">
    <button mat-button color="warn" (click)="onCancel()">Anuluj</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="formGroup.invalid">
      Stwórz
    </button>
  </mat-dialog-actions>
</form>
